
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Playfair Display", serif;
}

.sravaniname{
    font-size:20px;
    font-weight:bold;
    color:white;
}
.profilesec{
    margin-top: 140px;
}
.heading1{
    font-weight:600;
    font-size:28px;
   
}
.navcolor{
    color:white;
}
.para1{
    color:#6c6c6c;
    font-weight:400;
    margin-top:15px;
    font-size:18px;    
}
.iconsize{
    font-size:28px;
    margin-right:15px;
}
.email{
    font-size:32px;
    margin-right:15px;
}
.resume{
    
    font-size:15px;
}
.myimg{
  
    max-width:230px;
    aspect-ratio: 1/1;
    border-radius:50%;
}
.mainheading{
    font-weight: bold;
    font-size: 32px;

    text-decoration-line: underline;
    margin-bottom:40px;
    margin-top: 40px;
    
}
.educationsec1{
    font-weight: bold;
    font-size: 32px;
    text-decoration-line: underline;
    margin-bottom: 40px;
    margin-top:90px;
    margin-left:10px;
}
.years{
    color:#1c51ad;
    font-weight:200px;
    margin-top:40px;
    
    font-size:34px;
    margin-bottom:20px;
}
.studynames{
    margin-top:10px;
    
    font-size:18px;
    font-weight:200px;
    margin-bottom:30px;
}
.container1{
    border-radius:30px;
    padding: 30px;
    background-image:radial-gradient(white,rgb(241, 221, 185))
}
.btechimg{
    border-radius:15px;
    max-width: 190px;

   
}
.btech1{
    margin-left:30px;
}
.btechsec{
    margin-bottom:40px;
}
.intersec2{
    text-align:center;
}
.mainsec{
    margin-left:20px;
}

.skillset{

    font-size: 18px;
  
}
.skillssec1{
    margin-top:15px;
}
.skillssec2{
    margin-bottom:10px;
}
.container5 {
    border-radius: 30px;
    padding: 30px;
}

.projectsubheading{
    font-weight: bold;
    font-size: 20px;
  
}
.projectmatter{

    font-size: 18px;
    padding-left: 15px;

}

.projectimg1{
    margin-top:15px;
    border-radius: 50px;
    padding: 35px;
    height: 35vh;
    width: 30vw;
    margin-left: 40px;

}
.restaurantlink{
    margin-left:60px;
    font-size:20px;
    margin-bottom:20px;
}
.highlet{
    color:black;
    font-weight:bold;
}
ß
.text-decorator{
    text-decoration: underline;
}
.button{
    border-radius:15px;
}

